@import "./MessageControl.module.scss";

.inputItems {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: $element-spacing;
  margin-top: $element-inner-spacing;
}

.label {
  @extend .label;
}
