.releaseNotesBox {
  background-color: $gray-1300;
  border: 1px solid $gray-1100;
  border-radius: 3px;
  padding: 1rem 1.25rem;
  max-height: 240px;
  overflow-y: auto;
  color: $gray-200;
  font-size: calc(1rem - 2px);
  line-height: 1.5;

  :global {
    p {
      margin: 0 0 0.5rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      margin: 0.5rem 0;
      padding-left: 1.25rem;
    }

    li {
      margin-bottom: 0.25rem;
    }

    strong {
      font-weight: 600;
      color: $gray-100;
    }

    em {
      font-style: italic;
    }

    code {
      background-color: $gray-1200;
      padding: 0.125rem 0.375rem;
      border-radius: 2px;
      font-size: 0.9em;
    }

    a {
      color: $blue-400;
      text-decoration: underline;

      &:hover {
        color: $blue-300;
      }
    }

    h1, h2, h3 {
      font-size: 1em;
      font-weight: 600;
      margin: 0.75rem 0 0.25rem 0;
      color: $gray-100;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
